* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--grosor-rojo: 10px;
	--color-borde: red;
	--color-borde-hermano: white;
	--blanco: #fff;
}
body {
	background-color: #dfdfdf;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
img {
	width: 300px;
}
.container {
	border: 1px solid;
	width: 300px;
	height: 300px;
}
header,
footer {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 20%;
	border: 1px solid rosybrown;
	background: linear-gradient(0.25turn, #07b328, #68d880, #1cdd4a, #76e19d);
}
.drawing {
	/* podria cambiar por rosario blefari album cover */
	background-image: url('../img/fondo.jpg');
	height: 60%;
	/* overflow: hidden; */
	position: relative;
	overflow: hidden;
}
/*  */
.borde-rojo-izquierda {
	height: var(--grosor-rojo);
	width: 53px;
	background-color: var(--color-borde);
	transform: rotate(40deg);
	position: absolute;
	top: 10px;
	left: -10px;
}
.borde-rojo-izquierda::after {
	content: '';
	height: var(--grosor-rojo);
	width: 201px;
	background-color: var(--color-borde);
	position: absolute;
	transform: rotate(50deg);
	top: 75px;
	left: 13px;
}
/*  */
.borde-blanco-izquierda {
	height: var(--grosor-rojo);
	width: 53px;
	background-color: var(--color-borde-hermano);
	transform: rotate(40deg);
	position: absolute;
	top: 5px;
	left: 0;
}
.borde-blanco-izquierda::after {
	content: '';
	height: var(--grosor-rojo);
	width: 201px;
	background-color: var(--color-borde-hermano);
	position: absolute;
	transform: rotate(50deg);
	top: 75px;
	left: 13px;
}
/*  */
.culo-cuadrado {
	position: absolute;
	height: 100%;
	width: 145px;
	left: 50px;
	background: linear-gradient(0.25turn, #1c1c4a, #3f375f, #2a275c, #3f375f);
}
/*  */
.culo-blanco {
	width: 80px;
	height: 100px;
	position: absolute;
	top: 40px;
	left: 150px;
	border: 5px solid var(--blanco);
	border-left: 5px solid transparent;
	border-top: none;
	border-bottom: none;
	border-radius: 42.5%;
}
.culo-blanco:after {
	content: '';
	height: 55px;
	border-radius: 50px;
	width: 5px;
	background-color: var(--blanco);
	position: absolute;
	bottom: -50px;
	left: 50px;
}
